<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/public/css/login.css">
	</head>

	<body>
		<div class="main">
			<div class="header">
				<a href="/">
					<img src="/public/img/logo3.png" alt="">
				</a>
				<h1>修改密码</h1>
			</div>
			<form id="login_form">
				<div class="form-group">
					<label for="">邮箱：</label>
					<input type="email" class="form-control" id="email" name="email" value="{{email}}">
				</div>
				<div class="form-group">
					<label for="">输入新的新密码：</label>
					<!-- <a class="pull-right" href="/forget">忘记密码？</a> -->
					<input type="password" class="form-control" id="password" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="">再次输入您的密码：</label>
					<input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
					<label class="pull-right" id="dis2" style="color: red; display: none;">您两次输入的密码不一致</label>
				</div>
				<!--  <div class="checkbox">
        <label>
          <input type="checkbox">记住我
        </label>
      </div> -->
				<button type="submit" class="btn btn-success btn-block">确认修改</button>
			</form>
			<div class="message">
				<p>没有账号? <a href="/register">点击创建</a>.</p>
			</div>
		</div>
		<script src="/node_modules/jquery/dist/jquery.js"></script>
		<script>
			$("#password").focus(function() {
				$('#dis2').css('display', 'none')
			})
			$("#password1").focus(function() {
				$('#dis2').css('display', 'none')
			})
			$('#login_form').on('submit', function(e) {
				// 阻止submit的默认事件
				e.preventDefault()
				if ($('#password').val() !== $('#password1').val()) {
					return $('#dis2').css('display', 'block')
				}
				// console.log($('#password').serialize())
				// 获取修改的密码信息
				var formData = $(this).serialize()
				// console.log(formData)
				// 通过异步的方式向服务器发起请求
				$.ajax({
					url: '/login/forget/upPassword',
					type: 'post',
					data: formData,
					dataType: 'json',
					success: function(data) {
						var err_code = data.err_code
						if (err_code === 0) {
							// window.alert('注册成功！')
							// 服务端重定向针对异步请求无效
							window.location.href = '/login'
						} else if (err_code === 500) {
							window.alert('服务器忙，请稍后重试！')
						}
					}
				})
			})
		</script>
		</script>
	</body>

</html>
